.container{

    width:min(1280px,92%);

    margin:auto;

}

.glass{

    background:var(--glass);

    backdrop-filter:blur(14px);

    border:1px solid var(--border);

}

.blue-glow{

    box-shadow:var(--shadow-blue);

}

.red-glow{

    box-shadow:var(--shadow-red);

}

.section{

    padding:100px 0;

}